@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Heebo, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray; 
}

.header-logo {
    width: 150px;
    margin-left: 100px;
}

.consultor {
    background: linear-gradient(to right, rgba(255,255,255,0.82) 0%, rgba(231,58,41,1) 96%, rgba(231,56,39,1) 97%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 0 6rem;
    gap: 2.25rem;
}

.consultor .left {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.consultor .right img {
    width: 500px;
}

.alimentos {
    display: flex;
    justify-content: space-evenly;
    min-height: 70vh;
    background: rgb(236, 233, 233);
    /* white-space: nowrap; */
}

.alimentos .left {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 25px;
    padding: 6rem;
}

.alimentos .rigth {
    padding: 4rem 0;
    overflow: hidden;
}

.alimentos .rigth img {
    width: 500px;
    box-shadow: inset 0px 0px 45px -17px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 4rem 3rem;
    background-color: #F1F3F8;
    gap: 50px;
}

.lista h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

.lista .itens {
    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lista .itens h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: inherit;
    word-wrap: break-word;
    gap: 7px;
}

.lista svg {
    width: 1rem;
}

.lista p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(85 85 85)
}

.colabore  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    min-height: 70vh;
    gap: 40px;
}

.colabore .video {
    width: 300px;
    border-radius: .5rem;
    box-shadow: 17px 6px 45px -15px rgba(0,0,0,0.75);
}

.colabore .texts {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 2rem;
}

.investimentos {
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
    background: linear-gradient(3000deg, #F1F3F8 50%, #c04106 50%);
}

.investimentos .left {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 25px;
    padding: 6rem;
}

.investimentos .rigth {
    padding: 2rem 0;
}

.investimentos .rigth img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 60px -7px 78px -56px rgba(0,0,0,0.65);
    display: flex;
    margin-right: 65px;
}


.oportunidades {
    background: linear-gradient(180deg, #fff 40%, #DCDEE2 40%);
    padding-bottom: 50px;
}

.img-plant {
    display: flex;
    align-items: center;
    gap: 6rem;
    background-color: #CCC5BD;
    margin: 6rem;
    border-radius: 1rem;
}

.img-plant img{
    max-width: 22vh;
}
.img-plant .texts {
    display: flex;
    flex-direction: column ;
    gap: 1rem;
}

.title-plant {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #222222;
}

.subtitle-plant {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: rgb(85 85 85)
}

.contato {
    padding: 0 6rem;
    display: flex;
    gap: 4rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

.contato-links {
    display: flex;
    text-decoration: underline;
    cursor: pointer;
    gap: 2rem;
    font-weight: 200;
    font-size: 1rem;
    line-height: 2rem;
}

.vl {
    border-left: 1px solid #B0B2B6;
    height: 70px;
}

.footer {
    display: flex;
    padding: 20px 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: #CECFD2;
}

.footer img {
    width: 120px;
}

.footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer .redes a svg {
    color: gray;
    transition: 400ms;
}

.footer .redes a svg:hover {
    color: #FDB66B;
}

.footer .redes a svg:active {
    color: #eb4b01
}

.corujao {
    font-weight: 500;
    font-size: 5.25rem;
    line-height: 2.5rem;
}

.title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.subtitle {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.button {
    text-decoration: none;
    background-color: #eb4b01;
    color: whitesmoke;
    padding: 10px 15px;
    white-space: nowrap;
    max-width: min-content;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    box-shadow: 0px 10px 53px -10px rgba(0,0,0,0.75);
}

.button:hover {
    background-color: #eb4b01;
}

.green-text {
    color: #0ab440;
}

@media (max-width: 1440px) { 
    .corujao {
        font-size: 4.25rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
    .consultor .right img {
        width: 300px;
    }
}

@media (max-width: 1366px) {
    .alimentos {
        justify-content: center;
        flex-wrap: wrap;
    }
    .alimentos .left {
        padding-bottom: 0;
    }
}

@media (max-width: 1080px) {
    .corujao {
        font-size: 3.80rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    .investimentos .rigth img {
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .consultor {
        margin-top: 50px;
        flex-wrap: wrap;
        background: linear-gradient(to bottom, rgba(255,255,255,0.56) 0%, rgba(255,255,255,0.56) 29%, rgba(234,80,65,0.56) 72%, rgba(231,56,39,0.63) 78%, rgba(231,56,39,0.87) 100%);
    }
    .consultor .left{
        align-items: center;
    }
    .colabore {
        flex-wrap: wrap;
    }
    .colabore .texts {
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 300px;
    }
    .investimentos {
        padding: 1rem;
        white-space: normal;
        flex-wrap: wrap;
        background: linear-gradient(3000deg, #F1F3F8 50%, #c04106 50%);
        justify-content: center;
        align-items: center;
    }
    .investimentos .left {
        padding: 2rem;
        max-width: 500px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .img-plant {
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px;
    }
}

@media (max-width: 900px) {
    .alimentos {
        justify-content: center;
        flex-wrap: wrap;
    }
    .alimentos .left {
        padding: 4rem 50px 0 50px;
    }
    .alimentos .rigth {
        padding: 4rem 0;
    }
    .alimentos .rigth img {
        width: 200px;
        margin: 0 50px;
    }
    .investimentos {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .img-plant img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .alimentos {
        white-space: normal;
        text-align: center;
        padding: 20px;
    }
    .title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .subtitle {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .lista {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    *{
        min-height: 0;
    }
    .header {
        justify-content: center;
    }
    .header-logo {
        margin: 0;
    }
    .consultor {
        padding: 0 2rem;
        min-height: 60vh;
    }
    .alimentos {
        padding: 10px;
        min-height: 60vh;
    }
    .alimentos .left {
        padding: 4rem 15px 0 15px;
    }
    .alimentos .rigth {
        width: 100%;
        padding: 0;
    }
    .alimentos .rigth img {
        width: 200px;
        margin: 20px;
    }
    .colabore {
        flex-wrap: wrap;
        padding: 50px 15px;
        min-height: 60vh;
        text-align: center;
    }
    .colabore .video {
        width: 270px;
    }
    .investimentos {
        padding: 3rem 1rem;
        text-align: center;
        background: linear-gradient(3000deg, #F1F3F8 80%, #c04106 20%);
    }
    .investimentos .left {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0;
    }
    .investimentos .rigth {
        padding: 0;
        margin-top: 3rem;
    }
    .investimentos .rigth img {
        width: 100%;
    }
    .lista h6 {
        flex-direction: column;
    }
    .lista svg {
        width: 2rem;
    }
    .img-plant {
        margin: 2rem;
    }
    .contato {
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 1rem;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        gap: 20px;
    }
    .vl {
        display: none;
    }
    .button {
        text-align: center;
        max-width: 100%;
        width: 100%;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.5rem;
    }
    .title {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .subtitle {
        font-size: 1rem;
    }
}